.left-container {
    width: 450px;
    /* background-color: rgb(231, 195, 195); */
}

.component-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-component {
    height: 60px;
    width: 100px;
    margin: 10px;
    border: 1px solid rgb(221, 221, 221);
    text-align-last: center;
    line-height: 60px;
}

.delete-container{
    width: 100px;
    height: 100px;
    background-color: rgb(170, 160, 160);
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 18px;
}