.left-container {
    width:250px;
    min-width:250px;
    /* background-color: rgb(231, 195, 195); */
}

.left-title{
    height: 30px;
}

.component-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-component {
    height: 60px;
    width: 100px;
    margin: 10px;
    border: 1px solid rgb(209, 209, 209);
    text-align-last: center;
    line-height: 60px;
}

