.SelectEdi-container {
    pointer-events: none;
}

.component-top {
    display: flex;
    justify-content: space-between;
}

.component-top-label {
    pointer-events: none;
}

.component-select {
    height: 32px;
    padding: 0 11px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}