.middle-container {
    flex: 1;
    min-width: 800px;
    background-color: #fff;
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    overflow-y: scroll;
}

.middle-component-container {
    border:1px solid rgb(209, 209, 209);
    width: 98%;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.middle-component-container:hover {
    /* border: 2px rgb(209, 209, 209) dashed; */
}

.middle-component-top{
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.delete {
}

.component-label {
    pointer-events: none;
}

.middle-component {
    width: 100%;
    resize: vertical;
    pointer-events: none;
}

.component-select {
    height: 32px;
    padding: 0 11px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.click {
    border: 1px rgb(39, 72, 255) solid !important;
}

.onDrag {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dragEnter-bottom {
    border-bottom: 3px rgb(114, 114, 114) solid;
    border-right: 3px rgb(114, 114, 114) solid;
}

.dragEnter-top {
    border-top: 3px rgb(114, 114, 114) solid;
    border-left: 3px rgb(114, 114, 114) solid;
}

