.pre-container {
    width: 100%;
    background-color: #fff;
}

.pre-component-container {
    width: 98%;
    margin: auto;
    margin-bottom: 10px;
}

.pre-component-container .ant-form-item {
    margin-bottom: 0;
}

.pre-label {
    text-align: left;
}

.pre-component {
    width: 100%;
    resize: vertical;
}

.component-select {
    height: 32px;
    padding: 0 11px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
