.pre-container {
    width: 100%;
    background-color: #fff;
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    overflow-y: scroll;
}

.pre-component-container {
    margin: 10px 0 10px 0;
    border: 1px solid rgb(221, 221, 221);
    width: 98%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.pre-label {
    text-align: left;
}

.pre-component {
    width: 100%;
    resize: vertical;
}

.component-select {
    height: 32px;
    padding: 0 11px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
